*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background-image:url("/background.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.container{

    width:100%;

    background:rgba(255,255,255,0.18);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,0.3);

    border-radius:20px;

    padding:35px;

    box-shadow:0 15px 35px rgba(0,0,0,.3);

}

h1{
    text-decoration:underline;
    text-align:center;

    color:rgb(3, 3, 45);

    margin-bottom:30px;

    font-size:38px;

}

input{

    width:100%;

    padding:14px;

    margin-bottom:15px;

    border:none;

    border-radius:10px;

    font-size:16px;

    outline:none;

}

textarea{
    background:rgba(55, 13, 224, 0.18);
    width:100%;

    padding:14px;

    margin-bottom:15px;

    border:none;

    border-radius:10px;

    font-size:16px;

    outline:none;

}
button.add-note-btn{
    width:60%;
    padding:14px;

    margin-bottom:15px;

    border:none;

    border-radius:10px;

    font-size:16px;

    outline:none;

    cursor:pointer;

    background-color:rgb(26, 26, 209);
    color:white;
}
button.add-note-btn:hover{
    background-color:rgb(3, 3, 45);
}
button.edit-btn{
    width:15%;
    padding:5px;

    margin-bottom:15px;

    border:none;

    border-radius:10px;

    font-size:16px;

    outline:none;

    cursor:pointer;

    background-color:rgb(50, 6, 6);
    color:white;
}
button.edit-btn:hover{
    background-color:rgb(3, 3, 45);
}
button.delete-btn{
    width:15%;
    padding:5px;

    margin-bottom:15px;

    border:none;

    border-radius:10px;

    font-size:16px;

    outline:none;

    cursor:pointer;

    background-color:rgb(50, 6, 6);
    color:white;
}
button.delete-btn:hover{
    background-color:rgb(3, 3, 45);
}
.note-card {
   
    
}

.note-card p {
    align-items:center;
    text-align:center;
    background-color:rgba(145, 154, 201, 0.18);
    padding:10px;
    border-radius:10px;
    color:rgb(3, 3, 45);
    font-size: 20px;
    font-weight:bold;
}
    